# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin
/RayTracer/external/spdlog/.github/workflows
/RayTracer/external/spdlog/cmake
/RayTracer/external/spdlog/example
/RayTracer/external/spdlog/bench
/RayTracer/external/spdlog/logos
/RayTracer/external/spdlog/scripts
/RayTracer/external/spdlog/tests
/RayTracer/external/spdlog/.clang-format
/RayTracer/external/spdlog/.clang-tidy
/RayTracer/external/spdlog/.gitattributes
/RayTracer/external/spdlog/.gitignore
/RayTracer/external/spdlog/appveyor.yml
/RayTracer/external/spdlog/CMakeLists.txt
/RayTracer/external/spdlog/INSTALL
/RayTracer/external/spdlog/LICENSE
/RayTracer/external/spdlog/README.md
/RayTracer/external/opencv/build/etc/haarcascades
/RayTracer/external/opencv/build/etc/lbpcascades
/RayTracer/external/opencv/build/etc/licenses
/RayTracer/external/opencv/build/x64/vc16/lib
/RayTracer/external/opencv/build/LICENSE
/RayTracer/external/opencv/build/setup_vars_opencv4.cmd
/RayTracer/external/opencv/sources/3rdparty/carotene/hal/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/carotene/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/carotene/README.md
/RayTracer/external/opencv/sources/3rdparty/cpufeatures/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/cpufeatures/LICENSE
/RayTracer/external/opencv/sources/3rdparty/cpufeatures/README.md
/RayTracer/external/opencv/sources/3rdparty/ffmpeg/license.txt
/RayTracer/external/opencv/sources/3rdparty/ffmpeg/readme.txt
/RayTracer/external/opencv/sources/3rdparty/include/opencl/LICENSE.txt
/RayTracer/external/opencv/sources/3rdparty/ippicv
/RayTracer/external/opencv/sources/3rdparty/ittnotify/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/ittnotify/src/ittnotify/LICENSE.BSD
/RayTracer/external/opencv/sources/3rdparty/ittnotify/src/ittnotify/LICENSE.GPL
/RayTracer/external/opencv/sources/3rdparty/libjasper/changelog
/RayTracer/external/opencv/sources/3rdparty/libjasper/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjasper/copyright
/RayTracer/external/opencv/sources/3rdparty/libjasper/jasper/jasper.h
/RayTracer/external/opencv/sources/3rdparty/libjpeg/change.log
/RayTracer/external/opencv/sources/3rdparty/libjpeg/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/src/simd/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/LICENSE.md
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/README.ijg
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/README.md
/RayTracer/external/opencv/sources/3rdparty/libpng/arm/arm_init.c
/RayTracer/external/opencv/sources/3rdparty/libpng/CHANGES
/RayTracer/external/opencv/sources/3rdparty/libpng/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libpng/LICENSE
/RayTracer/external/opencv/sources/3rdparty/libpng/README
/RayTracer/external/opencv/sources/3rdparty/libspng/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libspng/LICENSE
/RayTracer/external/opencv/sources/3rdparty/libtiff/ChangeLog
/RayTracer/external/opencv/sources/3rdparty/libtiff/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libtiff/COPYRIGHT
/RayTracer/external/opencv/sources/3rdparty/libtiff/libport.h
/RayTracer/external/opencv/sources/3rdparty/libwebp/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libwebp/COPYING
/RayTracer/external/opencv/sources/3rdparty/openexr/AUTHORS.ilmbase
/RayTracer/external/opencv/sources/3rdparty/openexr/AUTHORS.openexr
/RayTracer/external/opencv/sources/3rdparty/openexr/ChangeLog.ilmbase
/RayTracer/external/opencv/sources/3rdparty/openexr/ChangeLog.openexr
/RayTracer/external/opencv/sources/3rdparty/openexr/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openexr/Half/eLut.h
/RayTracer/external/opencv/sources/3rdparty/openjpeg/openjp2/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openjpeg
/RayTracer/external/opencv/sources/3rdparty/openvx/hal/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openvx/hal/README.md
/RayTracer/external/opencv/sources/3rdparty/openvx/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openvx/README.md
/RayTracer/external/opencv/sources/3rdparty/protobuf/
/RayTracer/external/opencv/sources/3rdparty/quirc/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/quirc/LICENSE
/RayTracer/external/opencv/sources/3rdparty/tbb/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/zlib
/RayTracer/external/opencv/sources/apps/annotation/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/createsamples/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/interactive-calibration/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/interactive-calibration/defaultConfig.xml
/RayTracer/external/opencv/sources/apps/model-diagnostics/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/opencv_stitching_tool/README.md
/RayTracer/external/opencv/sources/apps/version/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/visualisation/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/CMakeLists.txt
/RayTracer/external/opencv/sources/cmake
/RayTracer/external/opencv/sources/data/CMakeLists.txt
/RayTracer/external/opencv/sources/data/readme.txt
/RayTracer/external/opencv/sources/include/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/core/3rdparty/SoftFloat/COPYING.txt
/RayTracer/external/opencv/sources/modules/core/cmake/parallel
/RayTracer/external/opencv/sources/modules/dnn/cmake
/RayTracer/external/opencv/sources/modules/features2d
/RayTracer/external/opencv/sources/modules/flann/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/gapi/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/highgui/cmake
/RayTracer/external/opencv/sources/SECURITY.md
/RayTracer/external/opencv/LICENSE_FFMPEG.txt
/RayTracer/external/opencv/README.md.txt
/RayTracer/external/opencv/LICENSE.txt
/RayTracer/external/opencv/sources/README.md
/RayTracer/external/opencv/sources/LICENSE
/RayTracer/external/opencv/sources/COPYRIGHT
/RayTracer/external/opencv/sources/CONTRIBUTING.md
/RayTracer/external/opencv/sources/CMakeLists.txt
/RayTracer/external/opencv/sources/.editorconfig
/RayTracer/external/opencv/sources/samples
/RayTracer/external/opencv/sources/platforms/wince/readme.md
/RayTracer/external/opencv/sources/platforms/maven/README.md
/RayTracer/external/opencv/sources/platforms/js/README.md
/RayTracer/external/opencv/sources/platforms/ios/readme.txt
/RayTracer/external/opencv/sources/platforms/apple/readme.md
/RayTracer/external/opencv/sources/platforms/android/README.android
/RayTracer/external/opencv/sources/platforms/android/service/readme.txt
/RayTracer/external/opencv/sources/platforms/android/service/CMakeLists.txt
/RayTracer/external/opencv/sources/platforms/android/service/engine/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/world/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/videoio/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_gstreamer
/RayTracer/external/opencv/sources/modules/videoio/misc/
/RayTracer/external/opencv/sources/modules/videoio/cmake
/RayTracer/external/opencv/sources/modules/video/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/video/misc/
/RayTracer/external/opencv/sources/modules/video/doc
/RayTracer/external/opencv/sources/modules/ts/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/stitching/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/objdetect/misc/
/RayTracer/external/opencv/sources/modules/objdetect/doc
/RayTracer/external/opencv/sources/modules/ml/misc/
/RayTracer/external/opencv/sources/modules/js
/RayTracer/external/opencv/sources/modules/java
/RayTracer/external/opencv/sources/modules/imgproc/misc
/RayTracer/external/opencv/sources/modules/imgcodecs/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/imgcodecs/misc
/RayTracer/external/opencv/sources/modules/highgui/
/RayTracer/external/opencv/sources/modules/gapi/
/RayTracer/external/opencv/sources/modules/features2d/misc
/RayTracer/external/opencv/sources/modules/dnn/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/dnn/src/webnn/README.md
/RayTracer/external/opencv/sources/modules/dnn/misc/python
/RayTracer/external/opencv/sources/modules/dnn/misc/java/test
/RayTracer/external/opencv/sources/modules/core/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/core/misc
/RayTracer/external/opencv/sources/modules/core/misc/objc/test
/RayTracer/external/opencv/sources/modules/core/misc
/RayTracer/external/opencv/sources/modules/core/doc
/RayTracer/external/opencv/sources/modules/calib3d/misc/python/test
/RayTracer/external/opencv/sources/modules/calib3d/misc
/RayTracer/external/opencv/sources/modules/calib3d/doc
/RayTracer/external/opencv/sources/doc
/RayTracer/external/opencv/sources/data
