# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin
/RayTracer/external/spdlog/.github/workflows
/RayTracer/external/spdlog/cmake
/RayTracer/external/spdlog/example
/RayTracer/external/spdlog/bench
/RayTracer/external/spdlog/logos
/RayTracer/external/spdlog/scripts
/RayTracer/external/spdlog/tests
/RayTracer/external/spdlog/.clang-format
/RayTracer/external/spdlog/.clang-tidy
/RayTracer/external/spdlog/.gitattributes
/RayTracer/external/spdlog/.gitignore
/RayTracer/external/spdlog/appveyor.yml
/RayTracer/external/spdlog/CMakeLists.txt
/RayTracer/external/spdlog/INSTALL
/RayTracer/external/spdlog/LICENSE
/RayTracer/external/spdlog/README.md
/RayTracer/external/opencv/build/etc/haarcascades
/RayTracer/external/opencv/build/etc/lbpcascades
/RayTracer/external/opencv/build/etc/licenses
