# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin
/RayTracer/external/spdlog/.github/workflows
/RayTracer/external/spdlog/cmake
/RayTracer/external/spdlog/example
/RayTracer/external/spdlog/bench
/RayTracer/external/spdlog/logos
/RayTracer/external/spdlog/scripts
/RayTracer/external/spdlog/tests
/RayTracer/external/spdlog/.clang-format
/RayTracer/external/spdlog/.clang-tidy
/RayTracer/external/spdlog/.gitattributes
/RayTracer/external/spdlog/.gitignore
/RayTracer/external/spdlog/appveyor.yml
/RayTracer/external/spdlog/CMakeLists.txt
/RayTracer/external/spdlog/INSTALL
/RayTracer/external/spdlog/LICENSE
/RayTracer/external/spdlog/README.md
/RayTracer/external/opencv/build/etc/haarcascades
/RayTracer/external/opencv/build/etc/lbpcascades
/RayTracer/external/opencv/build/etc/licenses
/RayTracer/external/opencv/build/x64/vc16/lib
/RayTracer/external/opencv/build/LICENSE
/RayTracer/external/opencv/build/setup_vars_opencv4.cmd
/RayTracer/external/opencv/sources/3rdparty/carotene/hal/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/carotene/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/carotene/README.md
/RayTracer/external/opencv/sources/3rdparty/cpufeatures/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/cpufeatures/LICENSE
/RayTracer/external/opencv/sources/3rdparty/cpufeatures/README.md
/RayTracer/external/opencv/sources/3rdparty/ffmpeg/license.txt
/RayTracer/external/opencv/sources/3rdparty/ffmpeg/readme.txt
/RayTracer/external/opencv/sources/3rdparty/include/opencl/LICENSE.txt
/RayTracer/external/opencv/sources/3rdparty/ippicv
/RayTracer/external/opencv/sources/3rdparty/ittnotify/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/ittnotify/src/ittnotify/LICENSE.BSD
/RayTracer/external/opencv/sources/3rdparty/ittnotify/src/ittnotify/LICENSE.GPL
/RayTracer/external/opencv/sources/3rdparty/libjasper/changelog
/RayTracer/external/opencv/sources/3rdparty/libjasper/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjasper/copyright
/RayTracer/external/opencv/sources/3rdparty/libjasper/jasper/jasper.h
/RayTracer/external/opencv/sources/3rdparty/libjpeg/change.log
/RayTracer/external/opencv/sources/3rdparty/libjpeg/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/src/simd/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/LICENSE.md
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/README.ijg
/RayTracer/external/opencv/sources/3rdparty/libjpeg-turbo/README.md
/RayTracer/external/opencv/sources/3rdparty/libpng/arm/arm_init.c
/RayTracer/external/opencv/sources/3rdparty/libpng/CHANGES
/RayTracer/external/opencv/sources/3rdparty/libpng/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libpng/LICENSE
/RayTracer/external/opencv/sources/3rdparty/libpng/README
/RayTracer/external/opencv/sources/3rdparty/libspng/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libspng/LICENSE
/RayTracer/external/opencv/sources/3rdparty/libtiff/ChangeLog
/RayTracer/external/opencv/sources/3rdparty/libtiff/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libtiff/COPYRIGHT
/RayTracer/external/opencv/sources/3rdparty/libtiff/libport.h
/RayTracer/external/opencv/sources/3rdparty/libwebp/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/libwebp/COPYING
/RayTracer/external/opencv/sources/3rdparty/openexr/AUTHORS.ilmbase
/RayTracer/external/opencv/sources/3rdparty/openexr/AUTHORS.openexr
/RayTracer/external/opencv/sources/3rdparty/openexr/ChangeLog.ilmbase
/RayTracer/external/opencv/sources/3rdparty/openexr/ChangeLog.openexr
/RayTracer/external/opencv/sources/3rdparty/openexr/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openexr/Half/eLut.h
/RayTracer/external/opencv/sources/3rdparty/openjpeg/openjp2/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openjpeg/AUTHORS.md
/RayTracer/external/opencv/sources/3rdparty/openjpeg/CHANGELOG.md
/RayTracer/external/opencv/sources/3rdparty/openjpeg/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openjpeg/LICENSE
/RayTracer/external/opencv/sources/3rdparty/openjpeg/openjp2/dwt.c
/RayTracer/external/opencv/sources/3rdparty/openjpeg/README.md
/RayTracer/external/opencv/sources/3rdparty/openjpeg/THANKS.md
/RayTracer/external/opencv/sources/3rdparty/openvx/hal/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openvx/hal/README.md
/RayTracer/external/opencv/sources/3rdparty/openvx/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/openvx/README.md
/RayTracer/external/opencv/sources/3rdparty/protobuf/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/protobuf/LICENSE
/RayTracer/external/opencv/sources/3rdparty/protobuf/README.md
/RayTracer/external/opencv/sources/3rdparty/quirc/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/quirc/LICENSE
/RayTracer/external/opencv/sources/3rdparty/tbb/CMakeLists.txt
/RayTracer/external/opencv/sources/3rdparty/zlib/patches/20190330-ununitialized-use-state-check.diff
/RayTracer/external/opencv/sources/3rdparty/zlib/adler32.c
/RayTracer/external/opencv/sources/3rdparty/zlib/LICENSE
/RayTracer/external/opencv/sources/3rdparty/zlib/README
/RayTracer/external/opencv/sources/apps/annotation/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/createsamples/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/interactive-calibration/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/interactive-calibration/defaultConfig.xml
/RayTracer/external/opencv/sources/apps/model-diagnostics/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/opencv_stitching_tool/README.md
/RayTracer/external/opencv/sources/apps/version/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/visualisation/CMakeLists.txt
/RayTracer/external/opencv/sources/apps/CMakeLists.txt
/RayTracer/external/opencv/sources/cmake
/RayTracer/external/opencv/sources/data/CMakeLists.txt
/RayTracer/external/opencv/sources/data/readme.txt
/RayTracer/external/opencv/sources/include/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/core/3rdparty/SoftFloat/COPYING.txt
/RayTracer/external/opencv/sources/modules/core/cmake/parallel
/RayTracer/external/opencv/sources/modules/dnn/cmake
/RayTracer/external/opencv/sources/modules/features2d/doc
/RayTracer/external/opencv/sources/modules/features2d/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/flann/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/gapi/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/highgui/cmake
/RayTracer/external/opencv/sources/SECURITY.md
/RayTracer/external/opencv/LICENSE_FFMPEG.txt
/RayTracer/external/opencv/README.md.txt
/RayTracer/external/opencv/LICENSE.txt
/RayTracer/external/opencv/sources/README.md
/RayTracer/external/opencv/sources/LICENSE
/RayTracer/external/opencv/sources/COPYRIGHT
/RayTracer/external/opencv/sources/CONTRIBUTING.md
/RayTracer/external/opencv/sources/CMakeLists.txt
/RayTracer/external/opencv/sources/.editorconfig
/RayTracer/external/opencv/sources/samples/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/winrt_universal/readme.txt
/RayTracer/external/opencv/sources/samples/samples_utils.cmake
/RayTracer/external/opencv/sources/samples/wp8/readme.txt
/RayTracer/external/opencv/sources/samples/python
/RayTracer/external/opencv/sources/samples/java
/RayTracer/external/opencv/sources/samples/install
/RayTracer/external/opencv/sources/samples/hal/README.md
/RayTracer/external/opencv/sources/samples/hal/slow_hal/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/hal/c_hal/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/hal/c_hal/config.cmake
/RayTracer/external/opencv/sources/samples/hal/slow_hal/config.cmake
/RayTracer/external/opencv/sources/samples/gpu/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/cpp/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/cpp/tutorial_code/gpu/gpu-thrust-interop/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/cpp/tutorial_code/core/parallel_backend/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/cpp/tutorial_code/calib3d/real_time_pose_estimation/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/cpp/example_cmake/Makefile
/RayTracer/external/opencv/sources/samples/cpp/example_cmake/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/tutorial-4-opencl/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/tutorial-3-cameracontrol/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/tutorial-2-mixedprocessing/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/tutorial-2-mixedprocessing/jni/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/tutorial-1-camerapreview/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/mobilenet-objdetect/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/image-manipulations/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/face-detection/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/face-detection/jni/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/color-blob-detection/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/camera-calibration/CMakeLists.txt
/RayTracer/external/opencv/sources/samples/android/15-puzzle/CMakeLists.txt
/RayTracer/external/opencv/sources/platforms/wince/readme.md
/RayTracer/external/opencv/sources/platforms/maven/README.md
/RayTracer/external/opencv/sources/platforms/js/README.md
/RayTracer/external/opencv/sources/platforms/ios/readme.txt
/RayTracer/external/opencv/sources/platforms/apple/readme.md
/RayTracer/external/opencv/sources/platforms/android/README.android
/RayTracer/external/opencv/sources/platforms/android/service/readme.txt
/RayTracer/external/opencv/sources/platforms/android/service/CMakeLists.txt
/RayTracer/external/opencv/sources/platforms/android/service/engine/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/world/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/videoio/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_gstreamer/Dockerfile
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_gstreamer/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_gstreamer
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_ffmpeg/Dockerfile-ubuntu
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_ffmpeg/Dockerfile-ffmpeg
/RayTracer/external/opencv/sources/modules/videoio/misc/plugin_ffmpeg
/RayTracer/external/opencv/sources/modules/videoio/cmake
/RayTracer/external/opencv/sources/modules/video/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/video/misc/python
/RayTracer/external/opencv/sources/modules/video/misc/java
/RayTracer/external/opencv/sources/modules/video/doc
/RayTracer/external/opencv/sources/modules/ts/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/stitching/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/objdetect/misc/python
/RayTracer/external/opencv/sources/modules/objdetect/misc/java/test
/RayTracer/external/opencv/sources/modules/objdetect/doc
/RayTracer/external/opencv/sources/modules/ml/misc/python
/RayTracer/external/opencv/sources/modules/ml/misc/java/test
/RayTracer/external/opencv/sources/modules/js
/RayTracer/external/opencv/sources/modules/java
/RayTracer/external/opencv/sources/modules/imgproc/misc
/RayTracer/external/opencv/sources/modules/imgcodecs/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/imgcodecs/misc
/RayTracer/external/opencv/sources/modules/highgui/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/highgui/src/files_Qt/Material/Readme.txt
/RayTracer/external/opencv/sources/modules/highgui/src/files_Qt/Material/LICENSE
/RayTracer/external/opencv/sources/modules/highgui/misc
/RayTracer/external/opencv/sources/modules/gapi/src/backends/README.md
/RayTracer/external/opencv/sources/modules/gapi/src/api/README.md
/RayTracer/external/opencv/sources/modules/gapi/misc/python
/RayTracer/external/opencv/sources/modules/gapi/doc/00-root.markdown
/RayTracer/external/opencv/sources/modules/gapi/doc/01-background.markdown
/RayTracer/external/opencv/sources/modules/gapi/doc/10-hld-overview.md
/RayTracer/external/opencv/sources/modules/gapi/doc/20-kernel-api.markdown
/RayTracer/external/opencv/sources/modules/gapi/doc/30-implementation.markdown
/RayTracer/external/opencv/sources/modules/gapi/doc/slides/README.md
/RayTracer/external/opencv/sources/modules/gapi/doc
/RayTracer/external/opencv/sources/modules/gapi/cmake
/RayTracer/external/opencv/sources/modules/features2d/misc/python
/RayTracer/external/opencv/sources/modules/features2d/misc/objc
/RayTracer/external/opencv/sources/modules/features2d/misc/java/test
/RayTracer/external/opencv/sources/modules/dnn/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/dnn/src/webnn/README.md
/RayTracer/external/opencv/sources/modules/dnn/misc/python
/RayTracer/external/opencv/sources/modules/dnn/misc/java/test
/RayTracer/external/opencv/sources/modules/core/CMakeLists.txt
/RayTracer/external/opencv/sources/modules/core/misc/python
/RayTracer/external/opencv/sources/modules/core/misc/plugins
/RayTracer/external/opencv/sources/modules/core/misc/objc/test
/RayTracer/external/opencv/sources/modules/core/misc
/RayTracer/external/opencv/sources/modules/core/doc/cuda.markdown
/RayTracer/external/opencv/sources/modules/core/doc/intro.markdown
/RayTracer/external/opencv/sources/modules/core/doc/pics
/RayTracer/external/opencv/sources/modules/calib3d/misc/python/test
/RayTracer/external/opencv/sources/modules/calib3d/misc/objc
/RayTracer/external/opencv/sources/modules/calib3d/misc/java
/RayTracer/external/opencv/sources/modules/calib3d/doc
/RayTracer/external/opencv/sources/doc/tutorials/ios
/RayTracer/external/opencv/sources/doc/tutorials/others
/RayTracer/external/opencv/sources/doc/tutorials/introduction/windows_visual_studio_opencv
/RayTracer/external/opencv/sources/doc/tutorials/introduction/windows_visual_studio_image_watch
/RayTracer/external/opencv/sources/doc/tutorials/introduction/linux_gcc_cmake
/RayTracer/external/opencv/sources/doc/tutorials/introduction/linux_gdb_pretty_printer
/RayTracer/external/opencv/sources/doc/tutorials/introduction/linux_install
/RayTracer/external/opencv/sources/doc/tutorials/introduction/load_save_image
/RayTracer/external/opencv/sources/doc/tutorials/introduction/macos_install
/RayTracer/external/opencv/sources/doc/tutorials/introduction/transition_guide
/RayTracer/external/opencv/sources/doc/tutorials/introduction/windows_install
/RayTracer/external/opencv/sources/doc/tutorials/introduction/linux_eclipse
/RayTracer/external/opencv/sources/doc/tutorials/introduction/display_image
/RayTracer/external/opencv/sources/doc/tutorials/introduction/documenting_opencv
/RayTracer/external/opencv/sources/doc/tutorials/introduction/general_install
/RayTracer/external/opencv/sources/doc/tutorials/introduction/java_eclipse
/RayTracer/external/opencv/sources/doc/tutorials/introduction/desktop_java
/RayTracer/external/opencv/sources/doc/tutorials/introduction/cross_referencing
/RayTracer/external/opencv/sources/doc/tutorials/introduction/crosscompilation
/RayTracer/external/opencv/sources/doc/tutorials/introduction/config_reference
/RayTracer/external/opencv/sources/doc/tutorials/introduction/clojure_dev_intro
/RayTracer/external/opencv/sources/doc/tutorials/introduction/building_tegra_cuda
/RayTracer/external/opencv/sources/doc/tutorials/introduction
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/threshold_inRange
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/shapedescriptors/moments
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/threshold
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/shapedescriptors/point_polygon_test
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/shapedescriptors/hull
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/shapedescriptors/find_contours
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/shapedescriptors/bounding_rotated_ellipses
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/random_generator_and_text
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/shapedescriptors/bounding_rects_circles
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/pyramids
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/periodic_noise_removing_filter
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/out_of_focus_deblur_filter
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/opening_closing_hats
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/motion_deblur_filter
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/morph_lines_detection
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/warp_affine
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/sobel_derivatives
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/remap
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/laplace_operator
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/hough_lines
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/hough_circle
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/filter_2d
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans/distance_transformation
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/hitOrMiss
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/imgtrans
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/histograms/template_matching
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/histograms/histogram_equalization
/RayTracer/external/opencv/sources/doc/tutorials/imgproc/histograms
/RayTracer/external/opencv/sources/doc/tutorials/imgproc
/RayTracer/external/opencv/sources/doc/tutorials/gapi
/RayTracer/external/opencv/sources/doc/tutorials/gpu
/RayTracer/external/opencv/sources/doc/tutorials/features2d
/RayTracer/external/opencv/sources/doc/tutorials/core
/RayTracer/external/opencv/sources/doc/tutorials/calib3d
/RayTracer/external/opencv/sources/doc/tutorials/dnn
/RayTracer/external/opencv/sources/doc/tutorials
/RayTracer/external/opencv/sources/doc/tools
/RayTracer/external/opencv/sources/doc/py_tutorials/py_setup
/RayTracer/external/opencv/sources/doc/py_tutorials/py_video
/RayTracer/external/opencv/sources/doc/py_tutorials/py_ml
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_template_matching
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_thresholding
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_transforms
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_watershed
/RayTracer/external/opencv/sources/doc/py_tutorials/py_objdetect
/RayTracer/external/opencv/sources/doc/py_tutorials/py_photo
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_pyramids
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_morphological_ops
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_histograms/py_histogram_equalization
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_houghcircles
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc/py_houghlines
/RayTracer/external/opencv/sources/doc/py_tutorials/py_imgproc
/RayTracer/external/opencv/sources/doc/py_tutorials/py_core
/RayTracer/external/opencv/sources/doc/py_tutorials/py_calib3d/py_pose
/RayTracer/external/opencv/sources/doc/py_tutorials/py_feature2d
/RayTracer/external/opencv/sources/doc/py_tutorials/py_gui
/RayTracer/external/opencv/sources/doc/py_tutorials/py_calib3d/py_calibration
/RayTracer/external/opencv/sources/doc/py_tutorials/py_calib3d/py_depthmap
/RayTracer/external/opencv/sources/doc/py_tutorials/py_calib3d/py_epipolar_geometry
/RayTracer/external/opencv/sources/doc/py_tutorials
/RayTracer/external/opencv/sources/doc/js_tutorials/js_imgproc
/RayTracer/external/opencv/sources/doc/js_tutorials/js_objdetect
/RayTracer/external/opencv/sources/doc/js_tutorials/js_setup
/RayTracer/external/opencv/sources/doc/js_tutorials/js_video
/RayTracer/external/opencv/sources/doc/pattern_tools
/RayTracer/external/opencv/sources/doc/js_tutorials/js_gui
/RayTracer/external/opencv/sources/doc/js_tutorials/js_dnn
/RayTracer/external/opencv/sources/doc/js_tutorials/js_core
/RayTracer/external/opencv/sources/doc/js_tutorials
/RayTracer/external/opencv/sources/doc
/RayTracer/external/opencv/sources/data
